# Executables
**.exe

# Builds
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual studio temporary cache
.vs/

# Visual studio files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Custom directories to ignore
vendor/premake/