# Builds
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual studio temporary cache
.vs/

# Visual studio files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Generated build files
Makefile
**.make